// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

//navmenu styling

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #f8f8f8;
}

.nav-links {

}

.logo {
	height: 100px;
	width: 100px;
}

@media (min-width: 768px) {
	.main-nav {
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 200px;
		padding: 1rem;
	}

	.nav-links {
		flex-direction: column;
	}

	.logo {
		margin-bottom: 2rem;
	}
}
